Options -Indexes

RedirectMatch 403 classes\/.*\.php
RedirectMatch 403 enums\/.*\.php
RedirectMatch 403 exceptions\/.*\.php
RedirectMatch 403 interfaces\/.*\.php
RedirectMatch 403 traits\/.*\.php
RedirectMatch 403 vendor\/.*\.php

<FilesMatch "\.(ts|scss|txt|json|lock)$">
    Order allow,deny
    Deny from all
</FilesMatch>

<FilesMatch "^\.">
    Order allow,deny
    Deny from all
</FilesMatch>