@use "../modules/globals";
@use "sass:map";

$xs: map.get(globals.$bs-breakpoints,'xs');
$md: map.get(globals.$bs-breakpoints, 'md');

@mixin settings-style(){
    form#nl_form_settings{
        div.container{
            div.row{
                >div{
                    margin: 10px 0px;
                }
            }
        }
    }

}

@include settings-style();