@use "sass:map";
@use "../modules/globals";

@mixin admin-log{
    form#nl_log_newsletter{
        >div:first-child{
            @include table;
            width: clamp(250px, 70%, 800px);
            @media only screen and (min-width: map.get(globals.$bs-breakpoints,'xs')){
                height: 300px;
            }
            @media only screen and (min-width: map.get(globals.$bs-breakpoints,'lg')){
                height: 500px;
            }
            border: 1px solid black;
            border-radius: 5%;
            overflow: auto;
        }
    }
}

@mixin table{
    table{
        th,td{
            text-align: center;
        }
    }
}

@include admin-log;