
$pixelSub: clamp(200px, calc(100% - 50px) ,600px);

@mixin verify-form-style($inputPixel){
    fieldset#nl_form_fieldset{
        margin-top: 50px;
        min-width: 300px;
        form#nl_form{
            width: 100%;
            input#nl_vercode{
                margin: 0 $inputPixel;
            }
        }
    } 
}

@include verify-form-style($pixelSub);